/* body {
    //#68675F;
    //rgb(34, 34, 34);
} */

* {
    user-select: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    //overflow: hidden !important;
    pointer-events: none;
}


.displayNone{ display: none;}

/*#region Mixins */

@mixin wholeAlignment {
    display: flex !important;
    align-items: center;
}

@mixin border($line-width, $line-style, $color, $border-width: $line-width) {
    border: $line-width $line-style $color;
    border-width: $border-width;
}

/*#endregion Mixins */

/*#region Settings */

$TabNodeSize: 10px;

$selectableMargin: 10px;
$TabNodePadding: $TabNodeSize;

$colorOfNodeName: rgb(0, 93, 192);
$backgroundColor: rgb(59, 59, 59);
$colorFont: #f2f1e9;
$labelFont: white;
$labelSelectionFont: #da98f7;

$borderWidthOfLines: 1px;
$heightOfNode: 10px;
$leftLineWIdth: 35px;
$marginRouter: 1px;

/*#endregion Settings */

body {
    background-color: $backgroundColor;
    }
    .TabNode {
        z-index: 1;
        display: grid;
        grid-template:
            "structureLineFromChild margin        margin        margin       margin       margin" auto
            "structureLineFromChild q      upperRouter        upperRouter       favicon      nodeName" 1fr
            "structureLineFromChild leftLine      router        router       favicon      nodeName" 11px
            "structureLineFromChild w      lowerRouter        lowerRouter       favicon      nodeName" 1fr
            "structureLineFromChild structureLine structureLine treeContent  treeContent  treeContent" auto
            "structureLineFromChild bottomMargin  bottomMargin  bottomMargin bottomMargin bottomMargin" auto
            / 0px auto auto auto auto 1fr;

        align-items: center;
        transition: border 300ms ease-in-out;
        border-radius: 15px;
        transition: background-color 300ms;
        transition: margin 100ms;

        .leftLine {
            grid-area: leftLine;
            width: max-content;
            min-width: 25px;
            height: $borderWidthOfLines;
            @include border(0px, solid, white, ($borderWidthOfLines 0px 0px 0px));
        }

        .router {
            grid-area: router;

            display: grid;
            grid-template: "a" auto / auto;

            pointer-events: all;
            place-items: center center;
            width: $heightOfNode - $borderWidthOfLines;
            height: $heightOfNode - $borderWidthOfLines;
            @include border($borderWidthOfLines, solid, white);
            background-color: $backgroundColor;
            z-index: 10;

            .inRouterMinus {
                grid-area: a;

                width: $heightOfNode - $marginRouter * 2 - $borderWidthOfLines - 2;
                @include border(0px, solid, white, ($borderWidthOfLines 0px 0px 0px));
            }
            .inRouterMinus__point {
                width: 1px;
            }

            .inRouterPlus {
                grid-area: a;
                display: none;

                height: $heightOfNode - $marginRouter * 2 - $borderWidthOfLines - 2;
                @include border(0px, solid, white, (0px $borderWidthOfLines 0px 0px));
            }
        }

        .favicon {
            grid-area: favicon;
            margin: 0 0 0 5px;

            img {
                max-width: 15px;
                min-height: 15px;
            }
        }

        .nodeName {
            @include wholeAlignment;
            grid-area: nodeName;
            width: fit-content;
            height: max-content;
            margin: 0 5px;

            .label {
                padding: 0px 8px;
                border: none;
                color: #86c7ff;
                //color: rgb(204, 192, 137);
                pointer-events: all;
                font-size: 16px;

                border-radius: 15px;
                background-color: #3a3a3a;

                /* border: 10px solid #B88846;
            border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
         */
            }

            .label::selection {
                color: $labelSelectionFont;
            }

            .font {
                text-rendering: optimizeLegibility;
                //font-family: Tahoma, Geneva, sans-serif;
                font-family: Arial, Helvetica, sans-serif;
                vertical-align: middle;
                font-size: 14px;
                color: $colorFont;
            }
        }

        .nodeName__window {
            @include border(2px, solid, $colorOfNodeName, (0px 0px 0px 0px));
            background-color: $colorOfNodeName;
            border-radius: 5px;
            padding: 2px 5px;
        }

        .structureLineFromChild {
            grid-area: structureLineFromChild;
            align-self: start;
            height: 100%;
            z-index: 10;
            @include border(0px, solid, white, (0px $borderWidthOfLines 0px 0px));
        }
        .structureLineFromChildToChildren {
            grid-area: 3/4/5/6;
            align-self: start;
            height: 100%;
            z-index: 10;
            @include border(0px, solid, white, (0px 0px 0px $borderWidthOfLines));
            transition: all 1s;

            z-index: 1;
        }

        .structureLine {
            grid-area: structureLine;
            height: 100%;

            > div {
                height: 100%;
                @include border(0px, solid, white, (0px $borderWidthOfLines 0px 0px));
            }
        }

        treeContent {
            grid-area: treeContent;
            width: auto;
            height: 100%;

            transition: all 600ms;
        }

        .toggle {
            height: 100%;
            grid-area: 2 / 2 / span 4 / span 4;

            pointer-events: all;
        }
        .dragging {
            height: 100%;
            grid-area: 2 / 5 / span 3 / span 4;

            pointer-events: all;
        }
        .selectableMargin {
            grid-area: margin;
        }
        .selectableBottomMargin {
            grid-area: bottomMargin;
        }

        .selectableMargin,
        .selectableBottomMargin {
            height: $selectableMargin;

            pointer-events: all;
            transition: all 200ms;
        }

        .TabNodeBorder {
            height: 100%;
            padding: $TabNodePadding;
            grid-area: 2 / 2 / 5 / 7;

            transition: all 0ms;

            border-radius: 15px;
        }
    }

    #InitialNode {
        position: static;
        margin-bottom: 1000px;

        > .structureLineFromChild {
            display: none;
        }
    }

    .selectable {
        background-color: rgb(72, 72, 72) !important;
    }

    .addUp:hover > .selectableMargin,
    .addBottom:hover > .selectableBottomMargin {
        height: 45px !important;
    }

    .Faded > div:not(.treeContent):not(.router) {
        opacity: 0.75;
    }

    .folded {
        > .treeContent {
            max-height: 0px !important;
            opacity: 0;
        }
        > .structureLineFromChildToChildren {
            opacity: 0 !important;
        }
    }

    #draggingELement {
        pointer-events: none !important;
        div {
            pointer-events: none !important;
        }

        > div {
            position: absolute;
            border-radius: 15px;
            pointer-events: none !important;

            background-color: rgb(72, 72, 72);
            padding: 0px 5px 5px 5px;
        }
    }

    .openData {
        position: fixed;
        top: 0;
        left: 70%;
        color: #f2f1e9;
        background-color: #3a3a3a;
        padding: 20px;
        border-radius: 15px;
        pointer-events: all;
    }

